# 'notes' keeps a record of what I've done and currently doing; makes it easier to pick up on projects after a long inactivity
# 'brainstorm' is where I place ideas/experiments that I may want to tackle
notes.txt
brainstorm.txt